prova/
trab_Mod3/RecodeViagens/.vs/RecodeViagens/v17/.suo
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Humanizer.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.Identity.Client.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/Newtonsoft.Json.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/RecodeViagens.deps.json
trab_Mod3/RecodeViagens/bin/Debug/net5.0/RecodeViagens.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/RecodeViagens.pdb
trab_Mod3/RecodeViagens/bin/Debug/net5.0/RecodeViagens.Views.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/RecodeViagens.Views.pdb
trab_Mod3/RecodeViagens/bin/Debug/net5.0/ref/RecodeViagens.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/System.Runtime.Caching.dll
trab_Mod3/RecodeViagens/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
trab_Mod3/RecodeViagens/Migrations/20211220184311_Test.cs
trab_Mod3/RecodeViagens/Migrations/20211220184311_Test.Designer.cs
trab_Mod3/RecodeViagens/Migrations/DataModelModelSnapshot.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/project.razor.json
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.csproj.AssemblyReference.cache
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.csproj.CoreCompileInputs.cache
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.csproj.FileListAbsolute.txt
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.dll
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.genruntimeconfig.cache
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.pdb
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.Views.dll
trab_Mod3/RecodeViagens/obj/Debug/net5.0/RecodeViagens.Views.pdb
trab_Mod3/RecodeViagens/obj/Debug/net5.0/ref/RecodeViagens.dll
trab_Mod3/RecodeViagens/Views/Shared/_Layout.cshtml
