@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem vindes, essa é a RecodeViagens</h1>
    <p>Somos uma empresa inovadora do ramo de viagens e buscamos conectar 
        membros de cada squad com seus colegas do Brasil todo.</p>
</div>
