@model RecodeViagens.Models.Travel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Travel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customerId" class="control-label"></label>
                <select asp-for="customerId" class ="form-control" asp-items="ViewBag.customerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="transitId" class="control-label"></label>
                <select asp-for="transitId" class ="form-control" asp-items="ViewBag.transitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="promo_code" class="control-label"></label>
                <input asp-for="promo_code" class="form-control" />
                <span asp-validation-for="promo_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tickets" class="control-label"></label>
                <input asp-for="tickets" class="form-control" />
                <span asp-validation-for="tickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
